# Base Modules
awscli
click
coverage
flake8
icecream
python-dotenv>=0.5.1
Sphinx
typeguard

# Data and Science Modules
arviz
bokeh
category_encoders
dask[complete]
hyperopt
jupyterlab
numpy
pandas
pycaret[full]
pymc3
scikit-learn
scikit-plot
seaborn
shap
statsmodels
theano
xgboost
# pandas-profiling[notebook] N.B. This raises bugs with one of its dependencies: numba
