# Base Modules
awscli
click
coverage
flake8
icecream
python-dotenv>=0.5.1
Sphinx

# Data and Science Modules
arviz
bokeh
dask[complete]
jupyterlab
numpy
pandas
pycaret[full]
pymc3
scikit-learn
seaborn
statsmodels
theano
xgboost
# pandas-profiling[notebook] N.B. This raises bugs with one of its dependencies: numba
